
 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navbar styling */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    height: 80px; /* You can adjust the height as needed */
    padding: 0 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: height 0.3s ease-in-out;
  }

  .navbar img {
    height: 60px; /* You can adjust the height of the image */
  }

  .navbar ul {
    display: flex;
    list-style-type: none;
  }

  .navbar li {
    margin: 0 10px;
  }

  .navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease-in-out;
    font-weight: bold;
  }

  .navbar a:hover {
    color: #ffd700; /* Change color on hover */
  }

  .slider-container {
  position: relative;
  width: 100%;
  height: 70vh; /* Adjust height as needed */
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease;
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  max-width: 85vw;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 30%; 
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}

.donate-section {
  text-align: center;
  margin: 50px auto 0px auto;
  background-color: #fff;
  padding: 50px;
}

.donate-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.donate-section p {
  font-size: 18px;
  color: #553434;
  margin-bottom: 30px;
  text-align: center;
}

.donate-button {
  background-color: #d12506;
  color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.donate-button:hover {
  background-color: #e55b3c;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-logo {
  text-align: center;
  margin-bottom: 20px;
}

.footer-logo img {
  height: 60px; /* Adjust height as needed */
}

.footer-nav {
  text-align: center;
}

.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.footer-nav a:hover {
  color: #ffd700; /* Change color on hover */
}

/* styles.css */
.search-results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 100px 0 100px;
}

.search-result-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.8s ease;
}

.search-result-card h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.search-result-card p {
  margin-bottom: 8px;
}

.search-result-card:hover {
  transform: scale(1.1);
}

.parent{
  min-height: 100vh;
}

.inquire-button {
  margin-top: 10px;
  cursor: pointer;
}

.inquiry-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
 width: 100%;
 height: 100%;
}

.inquiry-details {
  background-color: #fff;
  padding: 35px;
  border-radius: 10px;
  width: 20%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.bgsection{
  background-color: #fff;
  border-radius: 5px;
  padding:30px;
  margin:100px;
  transition: transform ease-in-out 0.7s;
}

.bgsection:hover{
  transform: scale(1.05);
}

.nodatafound {
  background-color: #f8d7da; 
  color: #721c24; 
  padding: 10px 20px; 
  border-radius: 5px; 
  margin: 20px auto;
  max-width: 300px; 
  text-align: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.admin-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #333; /* Sidebar background color */
  padding-top: 20px; /* Adjust top padding as needed */
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.admin-sidebar li {
  margin-bottom: 10px; /* Adjust spacing between items as needed */
}

.admin-sidebar a {
  display: block;
  color: #fff; /* Link text color */
  text-decoration: none;
  padding: 10px; /* Adjust padding as needed */
  transition: background-color 0.3s ease; /* Smooth transition effect */
  border-radius: 5px; /* Rounded corners */
}

.admin-sidebar a:hover {
  background-color: #555; /* Background color on hover */
}

/* Add background color to li */
.admin-sidebar li {
  background-color: #444; /* Background color for list items */
}

/*extra*/
.admin-sidebar li.active a {
  background-color: #0e335c; /* Background color for active link */
}

.admin-sidebar li.active a:hover {
  background-color: #0e335c; /* Darker background color for active link on hover */
}
/*extra*/


.admin-content {
    margin-left: 200px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #ccc;
    min-height: 100vh;
}

.admin-home {
  text-align: center;
  padding: 20px;
  width: 50%;
}

.admin-card {
  background-color: #f0f0f0; /* Background color of the card */
  border-radius: 10px; /* Rounded corners */
  padding: 20px;
  margin: 30px 20px; /* Add spacing around the cards */
  width: calc(50% - 40px); /* Make the cards half the width of the container minus spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect */
  display: inline-block; /* Display cards inline */
  vertical-align: top; /* Align cards to the top */
}

.admin-card h3 {
  color: #333; /* Text color for heading */
  margin-bottom: 10px; /* Add spacing between heading and paragraph */
}

.admin-card p {
  color: #666; 
  text-align: center;/* Text color for paragraph */
}

/* Container styling */
.donors-container {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table styling */
.donors-list {
  width: 100%;
  border-collapse: collapse;
}

/* Header row styling */
.donors-list th {
  background-color: #007bff;
  color: #fff;
  padding: 15px;
  text-align: left;
}

/* Data row styling */
.donors-list td {
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
}

/* Alternate row background */
.donors-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect */
.donors-list tr:hover {
  background-color: #e0e0e0;
  transition: background-color 0.3s ease;
}

/* Center align text for last column */
.donors-list td:last-child {
  text-align: center;
}
